<div class="flexbox">
    <ul class="flex-column">
        <li><strong>2019</strong>: <a href="https://www.youracclaim.com/badges/78dcfe3f-282c-4c47-b627-2f3cd0b23054/public_url">MCSA: Web Applications</a></li>
        <li><strong>2019</strong>: <a href="https://www.youracclaim.com/badges/c4fd8f36-e45e-4224-b773-d10ce23e6ae5/public_url">MCSD: App Builder</a></li>
    </ul>
    <div class="flex-column">
        <a href="https://www.youracclaim.com/badges/78dcfe3f-282c-4c47-b627-2f3cd0b23054/public_url"><img class="lazy" data-src="/assets/certs/mcsa-web-applications-certified-2019.png" alt="MCSA: Web Applications"></a>
        <a href="https://www.youracclaim.com/badges/c4fd8f36-e45e-4224-b773-d10ce23e6ae5/public_url"><img class="lazy" data-src="/assets/certs/mcsd-app-builder-certified-2019.png" alt="MCSD: App Builder"></a>
    </div>
</div>