<script>
window.cookieBanner = !(document.cookie.indexOf('cookieconsent_status=') > -1);
window.cookiesAllowed = (document.cookie.indexOf('cookieconsent_status=allow') > -1);
window.disqusAllowed = (document.cookie.indexOf('disqus_status=allow') > -1)

function cookieChooseAgain() {
    document.cookie = "cookieconsent_status=0; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/";
    location.reload();
}

function setDisqusCookie(status) {
    var d = new Date(new Date().setFullYear(new Date().getFullYear() + 1))
    document.cookie = "disqus_status=" + status + "; expires=" + d.toUTCString() + "; path=/";
}

function setCookieConsentCookie(status) {
    var d = new Date(new Date().setFullYear(new Date().getFullYear() + 1))
    document.cookie = "cookieconsent_status=" + status + "; expires=" + d.toUTCString() + "; path=/";
}

function hideCookieBanner() {
    $('.cookie-consent').slideUp(500);
}

document.addEventListener('DOMContentLoaded', function() {
    if (window.cookieBanner) 
        $('.cookie-consent').css('display', 'flex');

    $('.cookie-consent .btn-primary').click(function() {
        window.cookiesAllowed = true;
        window.gaLoad();
        setCookieConsentCookie("allow");
        hideCookieBanner();
    });

    $('.cookie-consent .btn-link').click(function() {
        setCookieConsentCookie("deny");
        setDisqusCookie('deny');
        hideCookieBanner();
    });
});
</script>