<link rel="stylesheet" type="text/css" href="{{ "/assets/cookieconsent.min.css" | relative_url }}" />
<script src="{{ "/assets/cookieconsent.min.js" | relative_url }}"></script>
<script>
  window.cookiesAllowed = (document.cookie.indexOf('cookieconsent_status=allow') > -1);
  window.disqusAllowed = (document.cookie.indexOf('disqus_status=allow') > -1)

  function cookieChooseAgain()
  {
    document.cookie = "cookieconsent_status=0; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/";
    location.reload();
  }

  function setDisqusCookie(status)
  {
    var d = new Date(new Date().setFullYear(new Date().getFullYear() + 1))
    document.cookie = "disqus_status="+status+"; expires=" + d.toUTCString() + "; path=/";
  }

  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000"
      },
      "button": {
        "background": "#f1d600"
      }
    },
    "content": {
      "message": "This website uses cookies to ensure you get the best experience on our website. For more information and to change your decision later, see",
      "link": "Privacy Policy",
      "href": "{% link privacy-policy.md %}"
    },
    "position": "top",
    "static": true,
    "type": "opt-in",
    "onStatusChange": function(status, chosenBefore) {
      if (status === "allow") {
        window.cookiesAllowed = true;
        window.gaLoad();
      } else {
        setDisqusCookie('deny');
      }
    }
  })});
</script>
