---
---

@import "minima";

/* To center images */
.center {
    text-align: center;
}

.social-media-list li {
    display: inline;
    padding-right: 6px;
}

.footer-col-3 {
   text-align: center;
}
